html,
body {
  padding: 0;
  margin: 0;
}

.pane-group,
.content-pane,
.content-wrapper,
.webview {
  min-height: 100%;
  overflow-y: hidden;
  height: 100%;
}

.list-group > a {
  text-decoration: none;
}
